<h1>Proveedor</h1>
<form [formGroup]="proveedorForm">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Placeholder" formControlName="nombre"> 
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Placeholder" formControlName="descripcion">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</form>

  <button mat-flat-button color="primary" (click)="crearProveedor()">Crear</button>
